<div class="container" >
  <div class="order-wrapper" [ngClass]="{'extended':state}">

    <div class="animation-circle animation-circle-1"></div>
    <div class="animation-circle animation-circle-2"></div>
    <div class="animation-circle animation-circle-3"></div>

    <img src="{{staticUrl + item.src}}" alt="flowers">

    <div class="extended-features">
      <div class="arrow-controls">
        <span class="arrow"></span>
        <span class="arrow"></span>
      </div>
    </div>

    <div class="additional-info-block">

      <div class="circle-detail price">
        <p>{{item.price}}<span> UAH</span></p>
      </div>
      <div class="circle-detail delivery">
        <p>Безкоштовна доставка</p>
      </div>

    </div>

  </div>
</div>
