<div class="order-wrapper">

  <div class="white-bg-wrapper" wave-effect [size]="extended ? 1:2" [ngClass]="{'extended': extended}">
    <div class="ggg"></div>
    <div class="fhdsgdsg"></div>
  </div>

  <div class="extended-part-wrapper" [ngClass]="{'visible': extended}">
    <div class="container">
      <div class="flower-container" >
        <!--<img class="product" src="{{staticUrlToFile + item.src}}" alt="flowers">-->
        <div class="arrow-controls">
          <img class="arrow" src="{{staticUrlToFile + 'arrow.svg'}}">
          <img class="arrow" src="{{staticUrlToFile + 'arrow.svg'}}">
        </div>
      </div>

      <form>
        <ng4geo-autocomplete (componentCallback)="autoCompleteCallback1($event)"></ng4geo-autocomplete>
        <ng4geo-autocomplete (componentCallback)="autoCompleteCallback1($event)"></ng4geo-autocomplete>
      </form>

      <div class="additional-info-block">
        <div class="circle-detail price">
          <p>{{item.price}}<span> UAH</span></p>
        </div>
        <div class="circle-detail delivery">
          <p>Безкоштовна доставка</p>
        </div>
      </div>

    </div>
  </div>

</div>
