
@import '~app/common/commonStyle'


.order-wrapper
  user-select: none
  border-radius: 50%
  display: flex
  align-items: center
  justify-content: center
  transition: transform 0.4s, width 1s 1s, height 1s 1s
  color: #222
  position: relative

  .white-bg-wrapper
    position: absolute
    height: 120px
    width: 120px
    border-radius: 50%
    transition: transform 0.4s, width 1s 0s, height 1s 0s
    background-color: #fff
    display: flex
    align-items: center
    justify-content: center
    &.extended
      height: 600px
      width: 600px
      transition: transform 0.4s, width 1s 1s, height 1s 1s
      &:before
        opacity: 0


    &:hover
      cursor: pointer
      transform: scale(1.05)
    &:before
      content: 'Натисніть для швидкої покупки'
      pointer-events: none
      display: block
      position: absolute
      left: 50%
      top: -60px
      width: 250px
      text-align: center
      color: #fff
      transform: translateX(-50%)
      font-size: 18px
      transition: opacity 1s


  .extended-part-wrapper
    opacity: 0
    transition: opacity 0.5s 0s
    z-index: 3
    position: absolute
    &.visible
      position: relative
      visibility: visible
      opacity: 1
      transition: opacity 0.5s 1.5s
      pointer-events: initial
      .container
        height: 600px
        width: 600px
    .container
      width: 100%
      position: relative
      .wrapper-router
        display: flex
        align-items: center
        justify-content: center
        width: 100%
        height: 100%


