
.order-wrapper
  user-select: none
  border-radius: 50%
  display: flex
  align-items: center
  justify-content: center
  transition: transform 0.4s, width 1s 1s, height 1s 1s
  color: #222
  position: relative

  .white-bg-wrapper
    position: absolute
    height: 120px
    width: 120px
    border-radius: 50%
    transition: transform 0.4s, width 1s 0s, height 1s 0s
    background-color: #fff
    display: flex
    align-items: center
    justify-content: center
    &.extended
      height: 600px
      width: 600px
      transition: transform 0.4s, width 1s 1s, height 1s 1s
      &:before
        opacity: 0
      &:after
        transition: width 1s 1s, height 1s 1s, box-shadow 1s
        width: 35%
        height: 35%
        animation: down-up 4000ms infinite

    &:hover
      cursor: pointer
      transform: scale(1.05)
    &:before
      content: 'Натисніть для швидкої покупки'
      pointer-events: none
      display: block
      position: absolute
      left: 50%
      top: -60px
      width: 250px
      text-align: center
      color: #fff
      transform: translateX(-50%)
      font-size: 18px
      transition: opacity 1s
    &:after
      content: ''
      position: relative
      width: 70%
      height: 70%
      border-radius: 50%
      background: url('/assets/images/flowers.png') no-repeat
      background-position: center
      background-size: 65% 65%
      z-index: 3



  .extended-part-wrapper
    opacity: 0
    transition: opacity 0.5s 0s
    z-index: 3
    position: absolute
    &.visible
      position: relative
      visibility: visible
      opacity: 1
      transition: opacity 0.5s 1.5s
      pointer-events: initial
      .container
        height: 600px
        width: 600px
    .container
      width: 100%
      position: relative
      justify-content: center


      .additional-info-block
        position: absolute
        width: 100%
        height: 100%
        opacity: 1
        transition: 3s
        display: block
        top: 0
        left: 0
        z-index: 0
        .circle-detail
          position: absolute
          width: 20%
          height: 20%
          background-color: #fff
          border-radius: 50%
          display: flex
          align-items: center
          justify-content: center
          &.price
            top: 0
            left: 0
            box-shadow: 2px 3px 30px 0px rgba(0, 0, 0, 0.1)
            p
              font-size: 45px
              letter-spacing: -2px
              span
                font-family: Bebas
                font-size: 17px
                font-weight: bold
                letter-spacing: 1px
          &.delivery
            bottom: 0
            right: 0
            box-shadow: -2px -3px 30px 0px rgba(0, 0, 0, 0.1)
            p
              padding-top: 10px
              font-family: Bebas
              font-size: 20px
              letter-spacing: 1px
              text-align: center

@keyframes down-up
  0%
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
  50%
    box-shadow: 0 19px 28px rgba(0,0,0,0.20), 0 15px 12px rgba(0,0,0,0.05)
  100%
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
