.container
  display: flex
  justify-content: center
  align-items: center
  .order-wrapper
    user-select: none
    position: absolute
    border-radius: 50%
    height: 120px
    width: 120px
    display: flex
    align-items: center
    justify-content: center
    background-color: #fff
    transition: transform 0.4s, width 1s 1s, height 1s 1s
    color: #222
    img
      pointer-events: none
      border-radius: 50%
      width: 70%
      height: 70%
      z-index: 2
      transition: width 1s 1s, height 1s 1s
    &:before
      content: 'Натисніть для швидкої покупки'
      pointer-events: none
      display: block
      position: absolute
      left: 50%
      top: -80px
      width: 250px
      text-align: center
      color: #fff
      transform: translateX(-50%)
      font-size: 18px
      transition: opacity 1s
    .animation-circle
      pointer-events: none
      position: absolute
      opacity: 1
      background: #fff
      border-radius: 50%
      transition: opacity 0.2s cubic-bezier(0.86, 0.14, 0, 0.86)
      height: 120px
      width: 120px
      animation: ripple-1 3000ms infinite
    &:hover
      cursor: pointer
      transform: scale(1.05)

    .animation-circle-1
      animation-delay: 0.5s
    .animation-circle-2
      animation-delay: 1.0s
    .animation-circle-3
      animation-delay: 1.5s

    &.extended
      height: 600px
      width: 600px
      //pointer-events: none
      &:before
        opacity: 0
      img
        width: 40%
        height: 40%
      &:hover
        cursor: default
        transform: scale(1)

      .animation-circle
        height: 600px
        width: 600px
        animation: ripple-2 3000ms infinite
        transition: width 1s 1s, height 1s 1s
      .animation-circle-1
        animation-delay: 0.5s
      .animation-circle-2
        animation-delay: 1.0s
      .animation-circle-3
        animation-delay: 1.5s
      .additional-info-block
        position: absolute
        width: 100%
        height: 100%
        opacity: 1
        transition: opacity 0.5s 1.5s
        .circle-detail
          position: absolute
          width: 150px
          height: 150px
          background-color: #fff
          border-radius: 50%
          display: flex
          align-items: center
          justify-content: center
          &.price
            top: 0
            left: 0
            box-shadow: 2px 3px 30px 0px rgba(0, 0, 0, 0.1)
            p
              font-size: 45px
              letter-spacing: -2px
              span
                font-family: Bebas
                font-size: 17px
                font-weight: bold
                letter-spacing: 1px
          &.delivery
            bottom: 0
            right: 0
            box-shadow: -2px -3px 30px 0px rgba(0, 0, 0, 0.1)
            p
              padding-top: 10px
              font-family: Bebas
              font-size: 20px
              letter-spacing: 1px
              text-align: center


@keyframes ripple-1
  0%
    transform: scale(1)
    opacity: 0.4
  100%
    transform: scale(2.5)
    opacity: 0.0
    visibility: hidden
@keyframes ripple-2
  0%
    transform: scale(1)
    opacity: 0.4
  100%
    transform: scale(1.4)
    opacity: 0.0
    visibility: hidden
