.order-wrapper .extended-part-wrapper .container form.order-data {
  position: relative;
}

:host  /deep/  input#search_places {
  padding: 5px 10px 5px 5px;
  border: none;
  border-bottom: 2px solid #bebebe;
  font-size: 15px;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  outline: none;
  text-align: center;
  height: 35px;
  font-family: FuturaDemi;
}

:host  /deep/ label {
  font-size: 14px;
}
:host  /deep/  input#search_places:focus {
  border-color: #6f6f6f;
}

:host  /deep/  button.search-icon {
  border: none;
  width: 30px;
  outline: none;
  position: absolute;
  top: 5px;
  right: -30px;
}

:host  /deep/  .custom-autocomplete__dropdown {
  border: none!important;
  box-shadow: 0px 5px 23px rgba(78, 78, 78, 0.16)!important;
  top: 40px!important;
}

:host  /deep/  .currentlocation>a{
  padding: 5px!important;
  box-sizing: border-box!important;
}

:host  /deep/  li{
  box-sizing: border-box!important;
  overflow: hidden!important;
  display: flex!important;
}
:host  /deep/  li.active a{
  transition: background-color 0.2s !important;
  background-color: rgb(255, 166, 166)!important;
}


:host  /deep/  li.heading-recent{
  display: none!important;
}

:host  /deep/  i.location-icon{
  background-position: top!important;
  width: 16px!important;
  height: 22px!important;
}
