.top-bar
  display: flex
  justify-content: space-between
  width: 90%
  margin: 0 auto
  li
    list-style-type: none
    button
      font-size: 15px
      text-transform: uppercase
      &:hover
        font-size: 16px
        .mat-button-ripple.mat-ripple
          background-color: rgba(255,255,255,0.3)
