.top-bar
  display: flex
  justify-content: space-between
  width: 90%
  margin: 0px auto
  padding: 10px
  li
    list-style-type: none
    button.material-button
      padding: 0px 20px
      font-size: 15px
      text-transform: uppercase
      color: #fff
      letter-spacing: 0.8px
      width: 120px

