<div class="data-input-wrapper">

  <div class="data-item day">
    <label for="day">Число</label>
    <input type="number" min="1" max="31" id="day">
  </div>

  <div class="data-item month">
    <label for="month">Місяць</label>
    <input type="number" min="1" max="12" id="month">
  </div>

  <div class="data-item time">
    <label for="time">Час</label>
    <input type="time" id="time" time_24hr: true>
  </div>

  <div class="data-item phone">
    <label for="phone">Телефон</label>
    <input type="phone" id="phone">
  </div>
</div>
