<div class= "product-wrapper {{styleType}}">

  <img src="{{product.url}}" alt="flowers">
  <div class="info-wrapper">
    <p class="title">&mdash;&nbsp;{{product.title}}&nbsp;&mdash;</p>
    <p class="price" matTooltip="+ 0 грн за достаку!" [matTooltipPosition]="toolTipPosition">
      {{product.price}}
      <span class="zeros">00</span>
    </p>
  </div>

    <!--[routerLink]="['../products/:product.id']"-->
  <button
          class="button-dark button-dark-inverse"
          (click)="addToFavoritesProducts(product)"
  >Купити</button>
</div>
