.product-wrapper
  display: inline-block
  padding: 15px
  border-radius: 50%
  position: absolute
  img
    height: 200px

  &.center
    left: 50%
    transform: translateX(-50%)
  &.top
    top: 0%
    transform: translateY(-50%)
  &.bottom
    bottom: 0%
    transform: translateY(50%)
  &.right
    right: 0%
    transform: translateX(50%)
  &.left
    left: 0%
    transform: translateX(-50%)
